# Файлы, автоматически созданные Visual Studio
/.vs
/Debug
git.sln
git.vcxproj
git.vcxproj.filters
git.vcxproj.user

# Файлы, автоматически созданные VS Code
/.vscode
\main_NN.exe
main_NN
a.exe
main_NN.o

# Файлы библиотек
/gnuplot

# Файлы автогенерации
data.txt
data.txt:Zone.Identifier
plot_script.gnu
plot_script.gnu:Zone.Identifier

